@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*:focus {
  outline: none;
}

li {
  display: inline;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

@layer components {
  .options-menu {
    @apply
      absolute
      -right-16
      top-3
      flex-col
      flex
      justify-center
      bg-white
      rounded
      text-sm
      [&>*:not(:first-child)]:border-t-slate-300
      [&>*:not(:first-child)]:border-t-[1px]
      overflow-hidden
      z-20;
  }

  .list {
    @apply
      flex 
      flex-col
      gap-2 
      p-2
      h-fit
      snap-center 
      rounded 

      bg-white
      dark:bg-sky-950 

      shadow-lg 
      shadow-slate-400 
      dark:shadow-slate-800
  }

  .list-card {
    @apply
    bg-white
    hover:bg-slate-50
    dark:bg-slate-700
    dark:hover:bg-slate-600

    border
    border-slate-100
    dark:border-transparent

    rounded
    p-4
    max-w-[13rem]
    overflow-hidden
    text-ellipsis
    whitespace-nowrap
    text-sm
  }
}
